<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285789685618-77c14c7k2tilt1vioqlo3lkhrv8rll3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285789685618-77c14c7k2tilt1vioqlo3lkhrv8rll3p</string>
	<key>API_KEY</key>
	<string>AIzaSyA_tSoBqXs-8QROLMiQ8wizDS2kpyeGgtg</string>
	<key>GCM_SENDER_ID</key>
	<string>285789685618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test01-611cd</string>
	<key>STORAGE_BUCKET</key>
	<string>test01-611cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285789685618:ios:a398d3dea60d002190ffeb</string>
</dict>
</plist>